@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

.processStep {
    width: calc(100% - 32px);
    left: calc(50% + 48px);
    top: 32px;
}

.videoWrapper {
    padding-top: 56.25%;
}

address {
    font-style: normal;
}

.h5 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.375;
    letter-spacing: -0.01em
}